<div>

	<h2 id="congrats">Congratulations!</h2>
	<h3 id="score">You got <%= @totalcorrect %>/<%= @totalprompts %> correct! </h3>
	<a href = "prompts/1"><button class="start">Again!</button></a>

</div>