<% if user_signed_in? %>

<p id="marker"><%= @prompt.id%></p>

<div class="promptbox">
	<p id="actual_prompt"><%= @prompt.prompt%></p>

	<form action="<%= @prompt.id%>/checkanswer" method="get">
		<input id="answerbox" type="text" name="user_answer" placeholder="answer">
		<input id="answerbutton" type="submit">
	</form>
</div>


<%end%>