<% if user_signed_in? %>

<p id="marker">Question:  <%= @prompt.id%></p>

<div class="promptbox">
	<p id="actual_prompt"><%= @prompt.prompt%></p>

	<form action="checkanswer/<%= @prompt.id%>" method="get">
		<input type="text" name="user_answer" placeholder="answer">
		<input type="submit">
	</form>
</div>


<%end%>