<% if user_signed_in? %>

<p id="marker"><%= @prompt.id%>.</p>

<div class="promptbox">
	<p id="p1"><%= @prompt.prompt_1%></p>
	<form action="<%= @prompt.id%>/checkanswer" method="get">
		<input id="answerbox" type="text" name="user_answer" autofocus="true">
	<p id="p2"><%= @prompt.prompt_2%></p>	
		<input id="answerbutton" type="submit">
	</form>
</div>
<div id="answers">
	<li>.upcase</li>
	<li>.reverse</li>
	<li>.length</li>
	<li>.downcase</li>
</div>

<%end%>