/*#logout {
	color: #ecf0f1;
	font-family: 'Roboto', sans-serif;

}*/

/*#floatbar_links{

}

#floatbar {

}*/

/*#header {
	position: relative;
	background color: #34495e;
	color: #FFFFFF;
	top: 10px;
}*/