/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*font-family: 'Inconsolata';*/
/*font-family: 'Lora', serif;*/

#logo a {
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: #FFFFFF;
	top: .2em;
	padding-left: 3%;
}

#header {
	position: relative;
	background-color: #0A2229;
	margin: -.5em;
	top: -1em;
	height: 3em;
}

.header_links a {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: .5em;
}

#header li {
	font-family: 'Raleway', sans-serif;
	list-style-image: none;
	list-style-type: none;
	float: right;
	padding: .9em;
	background-color: #e74c3c;
}

#header li:hover {
	background-color: #c0392b;
	cursor: pointer;
	padding: .9em;
}

.devise {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFFFF;
	line-height: 1.5;
	text-align: center;
}

.devise a {
	color: #7f8c8d;
	text-decoration: none;
}

.devise li {
	list-style-image: none;
	list-style-type: none;
}
.splashbox {
	position:relative;
	border: 1em solid #7f8c8d;
	text-align: center;
	left: 10%;
	top: 10%;
	bottom: 10%;
	width: 80%;
	border-radius: 1em;
}

.splashbox p {
	font-family: 'Inconsolata';
	font-size: 2.5em;
	color: #7f8c8d;
	text-align: left;
	padding-left: 5%;
}

.start {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	height: 3em;
	width: 8em;
	left: 42%;
	margin-top: 1%;
}

.start:hover{
	background-color: #27ae60;
	cursor: pointer;
}

.form {
	font-size: 1em;
	color: #7f8c8d;
}

.form input {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	border: 1px solid #7f8c8d;
	border-radius: 3px;
	margin: 5px;
}

.submit input[type="submit"]{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	margin-top: 40px;
	height: 50px;
	width: 120px;
}

.submit input[type="submit"]:hover {
	background-color: #27ae60;
	cursor: pointer;
}

.remem {
	font-size: 1em;
	color: #7f8c8d;
	padding-right: 5%;
}

#marker {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #e74c3c;
	position: fixed;
	left: 15%;
	top: 15%;
}

.promptbox {
	background-color: #2E2E2E;
	height: 20%;
	width: 50%;
	position: fixed;
	left: 15%;
	top: 30%;
	border-radius: .5em;
}

#answers {
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #7f8c8d;
	list-style-image: none;
	list-style-type: none;
	position: fixed;
	display: inline-block;
	left: 20%;
	top: 60%;
}

#p1 {
	position: relative;
	float: left;
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #F7D358;
	margin: 6% 0 0 5%;
}

#p2 {
	position: relative;
	float: left;
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #F7D358;
	margin: 6% 5% 0 1%;
}

#answerbox {
	position: relative;
	float: left;
	background-color: #585858;
	font-size: 2em;
	color: #F7D358;
	font-family: 'Inconsolata';
	width: 30%;
	height: 1.5em;
	margin: 5% 0 0 0;
	border: none;
}

#answerbutton {
	position: fixed;
	right: 35%;
	bottom: 40%;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	height: 2em;
	width: 6em;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	margin: 5% 0 0 0;
	display: none;
}

#answerbutton:hover{
	background-color: #27ae60;
	cursor: pointer;
}

#congrats {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #7f8c8d;
	text-align: center;
}

#score {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #7f8c8d;
	text-align: center;
}