/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*font-family: 'Inconsolata';*/
/*font-family: 'Lora', serif;*/

#logo a {
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: #FFFFFF;
	top: 5px;
	padding-left: 30px;
}

#header {
	position: relative;
	background-color: #0A2229;
	margin: -10px;
	top: -12px;
	height: 50px;
}

.header_links a {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
}

#header li {
	font-family: 'Raleway', sans-serif;
	list-style-image: none;
	list-style-type: none;
	float: right;
	padding: 15px;
	background-color: #e74c3c;
}

#header li:hover {
	background-color: #c0392b;
	cursor: pointer;
	padding: 15px;
}

.devise {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFFFF;
	line-height: 1.5;
	text-align: center;
}

.devise a {
	color: #7f8c8d;
	text-decoration: none;
}

.devise li {
	list-style-image: none;
	list-style-type: none;
}
.splashbox {
	position:relative;
	border: 5px solid #7f8c8d;
	text-align: center;
	left: 10%;
	top: 10%;
	bottom: 10%;
	width: 80%;
	border-radius: 1em;
}

.splashbox p {
	font-family: 'Inconsolata';
	font-size: 2.5em;
	color: #7f8c8d;
	text-align: left;
	padding-left: 5%;
}

.start {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	margin-top: 5%;
	height: 4em;
	width: 8em;
	margin-left: 42%;
}

.start:hover{
	background-color: #27ae60;
	cursor: pointer;
}

.form {
	font-size: 1em;
	color: #7f8c8d;
}

.form input {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	border: 1px solid #7f8c8d;
	border-radius: 3px;
	margin: 5px;
}

.submit input[type="submit"]{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #2ecc71;
	border: none;
	margin-top: 40px;
	height: 50px;
	width: 120px;
}

.submit input[type="submit"]:hover {
	background-color: #27ae60;
	cursor: pointer;
}

.remem {
	font-size: 1em;
	color: #7f8c8d;
	padding-right: 5%;
}

#marker {
	position: relative;
	padding-left: 20%;
	top: 10%;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: #e74c3c;
}

.promptbox {
	background-color: #2E2E2E;
	position: relative;
	height: 5em;
	width: 50%;
	left: 20%;
	top: 10%;
}

#p1 {
	position: relative;
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #F7D358;
	padding-right: 10%;
	padding-top: 1em;
}

#p2 {
	position: relative;
	font-family: 'Inconsolata';
	font-size: 2em;
	color: #F7D358;
	padding-left: 10%;
	padding-top: 1em;
}

